<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="display.css">
  <style>
    body{
    background-color: lightcoral;
    color: rgb(9, 69, 62);
    margin: auto;
    text-align: center;
}
table{
    text-align: center;
    background-color: rgb(9, 69, 62);
    color:wheat;
    margin: auto;
}
td{
    padding-left:5px;
    padding-right: 5px;
    text-align: center;
}
th{
  padding: 10px;
}
  </style>
  <title>Data Acording to Query</title>
</head>

<body>
  <div class="header">
    <h2>OUTPUT:</h2>
  </div>
  <% if(userData != "Error in query"){%>
    <% if(length>=20){%>

    <div class="btns">
      <%= disabled=null %>
        <% if(Number(pgno)==1){%>
          <% disabled="disabled" }%>
            <button type="submit" class="btn" id="ltlt" onclick="changepage('1')" <%=disabled %>
              ><a>&lt;&lt;</a></button>
            <button type="submit" class="btn" onclick="changepage('<%=Number(pgno)-1%>')" <%=disabled %>
              ><a>&lt;</a></button>

            <a class="a">
              <%= pgno %>
            </a>

            <%= Disabled=null %>
              <% if(Number(pgno)==360){%>
                <% Disabled="disabled" }%>
                  <button type="submit" class="btn" onclick="changepage('<%=Number(pgno)+1%>')" <%=Disabled %>
                    ><a>&gt;</a></button>
                  <button type="submit" class="btn" onclick="changepage('<%= length %>')" <%=Disabled %> ><a>&gt;&gt;</a></button>
    </div>
    <%}%>

  <table border="1">
    <tr>
      <% for(key in userData[0]){%>
        <th>
          <%= key %>
        </th>
        <%}%>
    </tr>
    <% for(data of userData) {%>
      <tr>
        <% for(key in userData[0]){%>
          <td>
            <%= data[key] %>
          </td>


          <%}%>
      </tr>
      <% } %>

  </table>
<%}else{%>
  <h2><%= userData %></h2>
<%}%>
  <script>
    function changepage(page) {
      Page = Number(page);
      window.location.href = `/dashboard/dynemicgrid_main/display?qr=<%=query%>&pgno=${Page}`;
    }
  </script>
</body>

</html>