<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
    background-color:bisque;
}
table{
    background-color:darkcyan
}
#button{
    margin-top:20px;
    padding: 10px;
    font-size: 19px;
    background-color: darkcyan;
    color:wheat;
    border-radius: 50px;
}
#form1{
    max-width: 500px;
    justify-content: space-between;
    display: flex;
}
#form2{
    justify-content: space-between;
    display: flex;
    max-width: 1600px;
    margin-bottom: 20px;
}
  </style>
</head>
<body>
  <div id="form1">
    <div>
        <h3>Search by student id</h3>
    </div>
    <div class="element1">
      <h3>search : </h3>
      <form action="/dashboard/Searching/Searched_data" method="post">
        <input type="text" name="id" id="id">
        <button type="submit">GO</button>
        <p id="err"></p>
      </form>
    </div>
  </div>

  <button id="button" onclick="change()">show more</button>
   
    <div id="form2" style="visibility: hidden;">
      <div>
        <h3>Search by Other Fields</h3>
    </div>
    <div>
      <h3>search : </h3>
      <form action="/dashboard/Searching/Searched_data" method="post">
          By First Name : <input type="text" name="firstname">
          By Last Name : <input type="text" name="lastname">
          By City : <input type="text" name="city">
          By Country : <input type="text" name="country">
          <select name="operator">
              <option name="operator" value="AND">AND</option>
              <option name="operator" value="OR">OR</option>
          </select>
          <button type="submit">GO</button>
      </form>
    </div>
  </div>
  <div class="table">
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Email2</th>
          <th>Designation</th>
          <th>City</th>
          <th>Country</th>
          <th>Phone number</th>
          <th>Gender</th>
          <th>zipcode</th>
          <th>createdTime</th>
        </tr>
      </thead>
      <tbody>
        <% if (userData.length !=0) {%>
          <% userData.forEach(function(data, index) { %>
            <tr>
              <td>
                <%= data.stu_id%>
              </td>
              <td>
                <%= data.fname %>
              </td>
              <td>
                <%= data.lname %>
              </td>
              <td>
                <%= data.email %>
              </td>
              <td>
                <%= data.email2 %>
              </td>
              <td>
                <%= data.Designation %>
              </td>
              <td>
                <%= data.City%>
              </td>
              <td>
                <%= data.Country %>
              </td>
              <td>
                <%= data.Phonenum%>
              </td>
              <td>
                <%= data.Gender%>
              </td>
              <td>
                <%= data.zipcode%>
              </td>
              <td>
                <%= data.createdTime%>
              </td>
            </tr>
            <% }); %>
              <%} %>
      </tbody>
    </table>
  </div>
        <script>
           let hid ="hidden";
           let vis = "visible";
           const form1 = document.getElementById('form1');
           const form2 = document.getElementById('form2');
          let count = 0;
          function change() {
            count++;
            if(count%2 != 0){
              form2.style.visibility = vis;
              form1.style.visibility = hid;
            }
            else{
              form1.style.visibility = vis;
              form2.style.visibility = hid;
            }
          }
        </script>
</body>

</html>